# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# Configuración de VS Code
.vscode/

# Configuración de PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
